*{
    margin: 0;
    padding: 0;
}        

body{
            
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    cursor: context-menu;
    margin: 0 auto;
    background: white;
    /*fontfamily: UnifrakturCook*/
    /*fontfamily: LondrinaOutline*/
    /*fontfamily: PermanentMarker*/
    
}

#schriftSchraeg2{
    
    font-size: 80px;
    color: ;
    transform: rotate(270deg);
    position: absolute;
    left: 65%;
    top: 40%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-family:    'Nothing You Could Do', cursive;
    animation: contact 15s linear infinite;
    display: flex
}
#farbe{
    
    -webkit-text-fill-color: black;
}
@keyframes contact{
    
    0%{
        top: -70%;
    }
    100%{
        
        top: 100%;
    }
}
#kastenWeis{
    
    width: 300px;
    height: 400px;
    position: absolute;
    top: 130%;
    background-color: white;
    right: 250px
}
#call{
    
    position: absolute;
    top: 195%;;
    left: 47%;
    font-size: 100px;
    border: 1px solid black;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:lightcyan
}
#contact{
    
    background-color: ;
    border:;
    width:900px;
    height: 50px;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 40px;
    color: #cccccc;
}
#tel1{
    position: absolute;
    left: -60px;
    color: black
    
    
}
#tel{
    position: absolute;
    left: 20px;
    
    
}
#fax1{
    
    position: absolute;
    right: 270px;
    color: black
    
}
#fax{
    
    position: absolute;
    right: -70px;
    
}
#munich{
    
    color: black;
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    font-family: 'Reggae One', cursive;
     -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
#i{
    color: black;
    position: absolute;
    font-size: 152px;
    font-family: 'Reggae One', cursive;
    top: 165%;
    left: 55.98%;
    transform: translate(-50%, -50%);
    
}

#map{
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#pin{
    
    position: absolute;
    top: 19%;
    color: lightgray;
    font-size: 120px;
    left: 66%;
    
}
#write{
    
    font-size: 60px;
    position: absolute;
    top: 20%;
    left: 5px
}
#email{
    
    font-size: 30px;
    position: absolute;
    top: 35%;
    color: #cccccc;
    left: 20px
}
#navbar{
    
    background-color: ;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0px;
    
}
#a{
    position: absolute;
    top: 0px;
    
}

.logoBild{
    
    color: ;
    font-size: 60px;
     margin: 0.2em;
    position: fixed;
    color: ;
    
   
    
}
.logoBild.logoAni{
    
    left: 1140px;
    transition: left 1s linear, font-size 1s linear;
    
}
.logoBild.ani2{
    
    color: white;
    
}
#logoMenuZ{
    
    color: black;
    position: absolute;
    left: 47%;
    margin-top: 1em;
    font-size: 25px;
    bottom: 340px;
    font-weight: ;
    border-bottom: 1px solid black;
}
.logo{
    
    color: ;
    position: fixed;
    left: 48%;
    margin-top: 1em;
    font-family: Shadows Into Light, cursive;
    font-size: 18px;
    top: 0px;
        
}
.logo.ani{
 
    color: white
}
#r{
    position: absolute;
    top: 2px;
    left: 97%;
    font-size: 16px;
}
#logoMenu{
    
    color: black;
    position: absolute;
    left: 45%;
    margin-top: 1em;
    font-family: Shadows Into Light, cursive;
    font-size: 18px;
    bottom: 380px;
}
#menuBtn{
    
    position: absolute;
    margin: 0.5em;
    font-size: 24px;
    color: ;
    cursor: pointer;
    right: 0px;
    top: 0px;
     display: flex;
     width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ;
 
    
}
#menuBtn:hover{
    
   border: 1px solid black;
    border-radius: 50%;
}
.menu{
    
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color:bisque;
    left: -100%;
    transition: 0.6s ease
    
    
}
.menu.active{
    
    left: 0;
    
}
.close-menu{
    
    position: absolute;
    margin: 0.5em;
    font-size: 24px;
    color: black;
    z-index: 1;
    cursor: pointer;
    right: 0px;
       display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ;
    
}
.close-menu:hover{
    
    border: 1px solid black;
    border-radius: 50%;
    
}
.nav{
    
    position: absolute;
    left: 37%;
    top: 45%;
    color: white;
    margin: 
    
    
}
nav ul{
    
    list-style: none;
    
    
    
}
.main-menu-item{
    
    display: inline-block;
    
    
}
.main-menu-item a{
    
    text-decoration: none;
    color: black;
    position: absolute
   
   
}
#active{
    
    color: #b3b3b3;
    position: absolute
    
}
.main-menu-item a:hover{
    
    color:white
  
}
.main-menu-item:not(:last-child){
    
    margin-right: 200px;
     
}

.main-menu-item:first-child:hover::before{
    
    content: "";
    z-index: ;
    background: url(img/6.jpg);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: -120px;
    transition: 1s;
    animation: fade-in 0.7s ease-in-out;
   
}
.main-menu-item:nth-child(2):hover::before{
    
    content: "";
    z-index: ;
    background: url(img/2.jpg);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: 90px;
     animation: fade-in 0.7s ease-in-out;
}
.main-menu-item:nth-child(3):hover::before{
    
    content: "";
    z-index: ;
    background: url(img/4.jpg);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: 300px;
     animation: fade-in 0.7s ease-in-out;
}
.main-menu-item:nth-child(4):hover::before{
    
    content: "";
    z-index: ;
    background: url(img/3.jfif);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: 510px;
     animation: fade-in 0.7s ease-in-out;
}
@keyframes fade-in {
    
    0%{
        opacity: 0;
        top: -160px;
    }
    50%{
        opacity: ;
        top: -180px;
    }
    100%{
        opacity:1 ;
        top: -180px;
    }
}
@media(max-width: 90%){
    
    mainMenu {
        
        text-align: center;
        display: block !important;
        margin: 0;
        padding: 20px 0
    }
}
#insta{
    
    color:  black;
    position: absolute;
    font-size: 30px;
    top: 2500%;
    left: 54%;
    transform: translate(-50%, -50%);
    transition: 0.2s linear;
    display: flex;
    cursor: pointer
        
    
}
#insta:hover{
    
    color: #bc2a8d;
    font-size: 60px;
    background-image: linear-gradient(to right, #fccc63, #fbad50, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
    -webkit-background-clip: text;
    color: transparent;
}
#twitter{
    
    color:  black;
    position: absolute;
    font-size: 30px;
    top: 2500%;
    left: 80%;
    transform: translate(-50%, -50%);
     transition: 0.2s ease-in-out;
    display: flex;
    cursor: pointer  
 
}
#twitter:hover{
    
    color: #1DA1F2;
    font-size: 60px;
}
#google{
    
    color:  black;
    position: absolute;
    font-size: 30px;
    top: 2500%;
    left: 30%;
    transform: translate(-50%, -50%);
     transition: 0.2s linear;
    display: flex;
    cursor: pointer
    
}
#google:hover{
    
    color: #DD4B39;
    font-size: 60px;
    
}
#a{
    position: absolute;
    top: 0px;
    
}
.nachOben{
    
   opacity: 0
    
}
.nachOben.buttonWeg{
    
     background-color: ;
    width: 50px;
    position: fixed;
    border-radius: 50%;
    height: 50px;
    right: 0px;
    top: 90%;
    cursor: pointer;
    opacity: 1;
    border: 1px solid black
}
.nachOben:hover{
    
    background-color: #d9d9d9
}
.arrowZ{
    
     width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
    transform: rotate(225deg);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#strich2{
    
    width: 150px;
    height: 1px;
    position: absolute;
    background-color: white;
    top: 2150px;
    left: 1200px;
    margin-top:
    
}
::-webkit-scrollbar{
    
    width: 4px;
    
}
::-webkit-scrollbar-track{
    
    
    border-radius: 10px;
    box-shadow: inset 0 0 10px white;
    
    
}
::-webkit-scrollbar-thumb{
    
    border-radius: 5px;
    background-color: dimgray;
}