*{
    margin: 0;
    padding: 0;
}        

body{
            
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    cursor: context-menu;
    margin: 0 auto;
    background: white;
    /*fontfamily: UnifrakturCook*/
    /*fontfamily: LondrinaOutline*/
    /*fontfamily: PermanentMarker*/
    
}
#contact{
    
    background-color: ;
    border:;
    width:900px;
    height: 50px;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 40px;
    color: #cccccc;
}
#tel1{
    position: absolute;
    left: -60px;
    color: black
    
    
}
#tel{
    position: absolute;
    left: 20px;
    
    
}
#fax1{
    
    position: absolute;
    right: 270px;
    color: black
    
}
#fax{
    
    position: absolute;
    right: -70px;
    
}
#munich{
    
    color: black;
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    font-family: 'Reggae One', cursive;
     -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
#i{
    color: black;
    position: absolute;
    font-size: 152px;
    font-family: 'Reggae One', cursive;
    top: 165%;
    left: 55.98%;
    transform: translate(-50%, -50%);
    
}
#google{
    
    color: ;
    font-size: 50px;
    position: absolute;
    top: 380px;
    left: 5px;
}
#map{
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#pin{
    
    position: absolute;
    top: 19%;
    color: lightgray;
    font-size: 120px;
    left: 66%;
    
}
#write{
    
    font-size: 60px;
    position: absolute;
    top: 20%
}
#email{
    
    font-size: 30px;
    position: absolute;
    top: 35%;
    color: #cccccc;
    left: 90px
}
#navbar{
    
    background-color: ;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    
}
#a{
    position: absolute;
    top: 0px;
    
}

.logoBild{
    
    color: ;
    font-size: 60px;
    margin-left: 10px;
    top: 5px;
    position: fixed;
    color: ;
    
   
    
}
.logoBild.logoAni{
    
    left: 1140px;
    transition: left 1s linear, font-size 1s linear;
    
}
.logoBild.ani2{
    
    color: white;
    
}
#logoMenuZ{
    
    color: black;
    position: absolute;
    left: 47%;
    margin-top: 1em;
    font-size: 25px;
    bottom: 340px;
    font-weight: ;
    border-bottom: 1px solid black;
}
.logo{
    
    color: ;
    position: fixed;
    left: 48%;
    margin-top: 1em;
    font-family: Shadows Into Light, cursive;
    font-size: 18px;
    top: 0px;
        
}
.logo.ani{
 
    color: white
}
#r{
    position: absolute;
    top: 2px;
    left: 97%;
    font-size: 16px;
}
#logoMenu{
    
    color: black;
    position: absolute;
    left: 45%;
    margin-top: 1em;
    font-family: Shadows Into Light, cursive;
    font-size: 18px;
    bottom: 380px;
}
#menuBtn{
    
    position: absolute;
    margin: 1em;
    font-size: 24px;
    color: ;
    cursor: pointer;
    right: 0px;
    top: 0px
    
 
    
}
.menu{
    
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color:bisque;
    left: -100%;
    transition: 0.6s ease
    
    
}
.menu.active{
    
    left: 0;
    
}
.close-menu{
    
    position: absolute;
    margin: 1em;
    font-size: 24px;
    color: black;
    z-index: 1;
    cursor: pointer;
    right: 0px;
    
}
.nav{
    
    position: absolute;
    left: 37%;
    top: 45%;
    color: white;
    margin: 
    
    
}
nav ul{
    
    list-style: none;
    
    
    
}
.main-menu-item{
    
    display: inline-block;
    
    
}
.main-menu-item a{
    
    text-decoration: none;
    color: black;
    position: absolute
   
   
}
.main-menu-item a:hover{
    
    color:white
  
}
.main-menu-item:not(:last-child){
    
    margin-right: 200px;
     
}

.main-menu-item:first-child:hover::before{
    
    content: "";
    z-index: ;
    background: url(img/6.jpg);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: -120px;
    transition: 1s;
    animation: fade-in 0.7s ease-in-out;
   
}
.main-menu-item:nth-child(2):hover::before{
    
    content: "";
    z-index: ;
    background: url(img/2.jpg);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: 90px;
     animation: fade-in 0.7s ease-in-out;
}
.main-menu-item:nth-child(3):hover::before{
    
    content: "";
    z-index: ;
    background: url(img/4.jpg);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: 300px;
     animation: fade-in 0.7s ease-in-out;
}
.main-menu-item:nth-child(4):hover::before{
    
    content: "";
    z-index: ;
    background: url(img/3.jfif);
    background-size: cover;
    width: 280px;
    height: 400px;
    position: absolute;
    display: block;
    top: -180px;
    left: 510px;
     animation: fade-in 0.7s ease-in-out;
}
@keyframes fade-in {
    
    0%{
        opacity: 0;
        top: -160px;
    }
    50%{
        opacity: ;
        top: -180px;
    }
    100%{
        opacity:1 ;
        top: -180px;
    }
}
@media(max-width: 90%){
    
    mainMenu {
        
        text-align: center;
        display: block !important;
        margin: 0;
        padding: 20px 0
    }
}

#a{
    position: absolute;
    top: 0px;
    
}
.nachOben{
    
   opacity: 0
    
}
.nachOben.buttonWeg{
    
     background-color: #262626;
    width: 50px;
    position: fixed;
    border-radius: 50%;
    height: 50px;
    right: 0px;
    top: 90%;
    cursor: pointer;
    opacity: 1;
    
}
.nachOben:hover{
    
    background-color: #404040
}
.arrowZ{
    
     width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
    transform: rotate(225deg);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

#strich2{
    
    width: 150px;
    height: 1px;
    position: absolute;
    background-color: white;
    top: 2150px;
    left: 1200px;
    margin-top:
    
}
::-webkit-scrollbar{
    
    width: 3px;
    
}
::-webkit-scrollbar-track{
    
    
    border-radius: 5px;
    box-shadow: inset 0 0 10px grey;
    
    
}
::-webkit-scrollbar-thumb{
    
    border-radius: 5px;
    background-color: black;
}